@import "../Animations.scss";

$editorBGColor: #ffffff;

.taskEditor {
  @include transitionBox(width);

  background-color: $editorBGColor;
  position: relative;
  border-right: #818487 double 5px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  > div > div {
    background-color: $editorBGColor;
  }
}

.taskEditorFieldsContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  align-self: center;
}

.titledInputGeneric {
  width: 100%;
}

.taskEditorTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #060614;
  color: white;
  height: 80px;
  margin-bottom: 50px;
  position: relative;
  border-top: #ffffff solid 1px;

  .taskEditorCloser {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;

    .taskEditorCloserIcon {
      background-color: transparent;
      font-size: 16px;
    }
  }
}
