html,
body,
#root,
.App {
    height: 100%;
}

.fullHeight {
    height: 100%;
}

.hand {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}